<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="login-panel-header">
            <img src="assets/layout/images/login/logo-sapphire-color.png">
        </div>
        <div class="login-panel-content">
            <div class="p-grid">
                <div class="p-col-12">
                    <h1>SAPPHIRE NETWORK</h1>
                    <h2>Welcome, please use the form to sign-in</h2>
                </div>
                <div class="p-col-12">
                    <span class="p-float-label">
                        <input id="username" type="text" pInputText>
                        <label for="username">Username</label>
                    </span>
                </div>
                <div class="p-col-12">
                    <span class="p-float-label">
                        <input id="password" type="password" pInputText>
                        <label for="password">Password</label>
                    </span>
                </div>
                <div class="p-col-6" style="padding-top: 1.25em">
                    <a href="#">Forget Password?</a>
                </div>
                <div class="p-col-6" style="text-align: right">
                    <button pButton pRipple type="button" label="NEXT" style="width: 100%"></button>
                </div>
            </div>
        </div>
    </div>
</div>
