<h2>Tipos de problemas en el reporte de garantías</h2>
<p-table #dt [columns]="heardes" [value]="problemCategory"
    styleClass="p-datatable-sm p-datatable-striped"
    [globalFilterFields]="['descripcion']" [rows]="10" [paginator]="true" [pageLinks]="5"
    [responsive]="true" responsiveLayout="stack" [loading]="loading">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
            <div class="p-field p-col-2">
                <button pButton pRipple type="button" (click)="addProblem()" label="&nbsp; Agregar"
                    class="p-button-rounded" pTooltip="Agregar registro">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr styleClass="p-mr-2">
            <th *ngFor="let item of heardes" pSortableColumn="codigo">
                {{item.label}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-problemCategory>
        <tr [pSelectableRow]="problemCategory">
            <td>
                <span>{{ problemCategory.problemName }}</span>
            </td>

            <td>
                <span>{{ problemCategory.problemDescription }}</span>
            </td>

            <td>
                <span>
                    <p-inputSwitch [(ngModel)]="problemCategory.status" pTooltip="Actualizar estatus" (onChange)="updateStatus(problemCategory)"></p-inputSwitch>
                </span>
            </td>

            <td>
                <span>
                    <button pButton pRipple type="button" (click)="editProblem(problemCategory)" pTooltip="Editar registro"
                        class="p-button-rounded p-button-warning p-mr-2 p-mb-2" icon="pi pi-pencil"></button>
                </span>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td>
                No se encontraron registros.
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="{{ title }}" [(visible)]="display" [modal]="true" [style]="{ width: '800px' }" appendToBody="true">
    <form [formGroup]="datosForm" class="ui-g-12">
        <div style="line-height: 1.5">
            <div class="p-fluid p-formgrid p-grid">                
                <div class="p-field p-col-12 p-md-6">
                    <span class="md-inputfield">
                        <label for="type">Tipo de problema *</label>
                        <input formControlName="type" name="type" id="type" type="text" pInputText />
                        <app-validation-input [formGroup]="datosForm" formInputName="type" 
                        [validation_messages]="validations">
                        </app-validation-input>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <span class="md-inputfield">
                        <label for="description">Descripción *</label>
                        <input formControlName="description" name="description" id="description" pInputText />
                        <app-validation-input [formGroup]="datosForm" formInputName="description"
                            [validation_messages]="validations"> </app-validation-input>
                    </span>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="status">Estatus *</label>
                    <span>
                        <span>Inactivo &nbsp;</span>
                        <p-inputSwitch class="ng-untouched ng-pristine" formControlName="status" name="status"
                            id="status">
                        </p-inputSwitch>
                        <span>&nbsp; Activo</span>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton pRipple type="button" [disabled]="!datosForm.valid" (click)="saveProblem()" label="Guardar"
            class="p-mr-2 p-mb-2" pTooltip="Guardar registro"></button>
        <button pButton pRipple type="button" (click)="display = false" label="Cancelar"
            class="p-button-danger p-mr-2 p-mb-2" pTooltip="Cancelar registro"></button>
    </p-footer>
</p-dialog>