<div class="main-container">
  <div class="container">
    <p class="title">Catálogo de Periodos</p>
    <div class="layout-topbar-separator"></div>
    <p-toast key="tst" position="top-right"></p-toast>
    <div>
      <div class="container">
        <div class="p-col-12">
          <div class="card">
            <p-table #dt [columns]="heardes" [value]="periods"  [rows]="10" [pageLinks]="5" 
              styleClass="p-datatable-sm p-datatable-striped"
              [responsive]="true" responsiveLayout="stack" [loading]="loading"
              [globalFilterFields]="['periodName', 'description']" [paginator]="true">
              <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                  <div class="p-field p-col-2">
                    <button pButton pRipple type="button" (click)="addPeriod()" label="&nbsp; Agregar"
                      class="p-button-rounded" pTooltip="Agregar periodo">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <span>
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                      placeholder="Buscar periodo" />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr styleClass="p-mr-2">
                  <th *ngFor="let item of heardes">
                    {{item.label}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-periods>
                <tr [pSelectableRow]="periods">
                  <td>
                    <span>{{ periods.periodName }}</span>
                  </td>
                  <td>
                    <span>{{ periods.description }}</span>
                  </td>
                  <td>
                    <span>{{ periods.dateInit }}</span>
                  </td>
                  <td>
                    <span>{{ periods.dateEnd }}</span>
                  </td>
                  <td>
                    <span>
                      <p-inputSwitch [(ngModel)]="periods.status" pTooltip="Actualizar estatus"
                      (onChange)="updateStatus(periods)"></p-inputSwitch>
                    </span>
                  </td>
                  <td>
                    <span>
                      <button pButton pRipple type="button" (click)="editPeriod(periods)"
                        class="p-button-rounded p-button-warning p-mr-2 p-mb-2" 
                        icon="pi pi-pencil" pTooltip="Editar registro"></button>
                    </span>

                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">
                    No se encontraron registros.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="{{ title }}" [(visible)]="display" [modal]="true" appendToBody="true" [style]="{ width: '800px' }">
  <form class="ui-g-12" [formGroup]="datosForm">
    <div style="line-height: 1.5">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="period">Periodo *</label>
          <span>
            <i class="fab fa-slack-hash"></i>
            <input formControlName="period" name="period" id="period" type="text" placeholder="Ej: MM-YYYY" pInputText/>
          </span>
          <app-validation-input [formGroup]="datosForm" formInputName="period" [validation_messages]="validations">
          </app-validation-input>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <label for="status">Estatus *</label>
          <span>
              <span>Inactivo &nbsp;</span>
              <p-inputSwitch class="ng-untouched ng-pristine" formControlName="status" name="status"
                  id="status">
              </p-inputSwitch>
              <span>&nbsp; Activo</span>
          </span>
        </div>
        <div class="p-field p-col-12 p-md-12">
          <label for="description">Descripción</label>
          <span>
            <i class="fas fa-keyboard"></i>
            <input formControlName="description" name="description" id="description" type="text" pInputText />
          </span>
          <app-validation-input [formGroup]="datosForm" formInputName="description" [validation_messages]="validations">
          </app-validation-input>
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="dateInit">Fecha Inicial *</label>
          <span>
            <p-calendar formControlName="dateInit" (onSelect)="select($event)" [showIcon]="true" inputId="icon" dateFormat="dd-mm-yy" appendTo="body"></p-calendar>
          </span>
          <app-validation-input [formGroup]="datosForm" formInputName="dateInit" [validation_messages]="validations">
          </app-validation-input>
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label for="dateEnd">Fecha Final *</label>
          <span>
            <p-calendar formControlName="dateEnd" [minDate]="minDate" [showIcon]="true" inputId="icon" dateFormat="dd-mm-yy" appendTo="body"></p-calendar>
          </span>
          <app-validation-input [formGroup]="datosForm" formInputName="dateEnd" [validation_messages]="validations">
          </app-validation-input>
        </div>
      </div>
    </div>
  </form>    
  <p-footer>
    <button pButton pRipple type="button" [disabled]="!datosForm.valid" (click)="savePeriod()" label="Guardar"
      class="p-mr-2 p-mb-2"></button>
    <button pButton pRipple type="button" (click)="display = false" label="Cancelar"
      class="p-button-danger p-mr-2 p-mb-2"></button>
  </p-footer>
</p-dialog>
