<p-toast key="tst"></p-toast>
<p class="title">Consulta Servicio</p>
<p-card>
  <ng-template pTemplate="content">

    <form class="ui-g-12" [formGroup]="searchForm">
      <div class="p-grid p-fluid">
        <div class="p-field p-col-12 p-md-3">
          <label for="search">Buscar</label>
          <span>
            <input formControlName="search" name="search" id="search" type="text" pInputText />
          </span>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <label for="dateIni">Fecha De Creación *</label>
          <span>
          <p-calendar formControlName="creationDate" dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon"></p-calendar>
          </span>
        </div>
        <div class="p-field p-col-12 p-md-2">
          <br />
          <br />
          <button pButton pRipple type="button" label="Buscar" icon="pi pi-search" iconPos="right"
            (click)="getServiceConsult()"></button>
        </div>
        <div class="p-field p-col-12 p-md-2">
          <br />
          <br />
          <button pButton pRipple type="button" label="Limpiar" iconPos="right" class="p-button-danger"
            (click)="clearInputs()"></button>
        </div>
      </div>
    </form>



    <p-table #dt [columns]="consultHeader" [value]="services"  
      [rows]="10" [pageLinks]="5" styleClass="p-datatable-sm p-datatable-striped"
      [responsive]="true" responsiveLayout="stack" [loading]="loading" [paginator]="true"
      [globalFilterFields]="['vin', 'serviceNumber', 'dealer']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
          <span>
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Buscar" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr styleClass="p-mr-2">
          <th *ngFor="let item of consultHeader">
            {{ item.label }}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-consult>
        <tr [pSelectableRow]="approved">
          <td>
            <span>{{ consult.orderNumber }}</span>
          </td>
          <td>
            <span>{{ consult.dateRegister | date:'dd-MM-yyyy' }}</span>
          </td>
          <td>
            <span>{{ consult.dealerNum }}</span>
          </td>
          <td>
            <span>{{ consult.dealerName }}</span>
          </td>
          <td>
            <span>{{ consult.reportedBy }}</span>
          </td>
          <td>
            <span>{{ consult.customerName }}</span>
          </td>
          <td>
            <span>{{ consult.vin }}</span>
          </td>
          <td>
            <span>{{ consult.status }}</span>
          </td>
          <td>
            <span class="p-column-title">Acciones</span>
            <button pButton pRipple type="button" pTooltip="Consultar"
                  class="p-button-rounded p-button-success p-mr-2 p-mb-2" icon="pi pi-angle-left"></button>
            <button pButton pRipple type="button" pTooltip="Editar"
                  class="p-button-rounded p-button-warning p-mr-2 p-mb-2" icon="pi pi-pencil" (click)="editService(consult)"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td>
            No se encontraron registros.
          </td>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="footer">
        <button pButton type="button" (click)="downloadExcel()" label="Descargar Reporte" class="p-button-success"
          icon="pi pi-file-excel" iconPos="left" pTooltip="Descarga reporte"></button>
      </ng-template> -->
    </p-table>
  </ng-template>
</p-card>


<p-confirmDialog></p-confirmDialog>

<p-dialog header="Historial Detallado" [(visible)]="isVisibleHistory"  [modal]="true" [style]="{width: '80vw', height: '80vh' }">
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <span>Linea De Tiempo</span>
      </ng-template>
      <p-timeline [value]="events1" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
          <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
            <i [ngClass]="event.icon"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-card header="Distribuidor {{ event.daler }}" subheader="Fecha {{ event.date }}">
            <p class="p-text-secondary">No. Servicio: {{ event.serviceNumber }}</p>
            <p class="p-text-secondary">Descripcion: {{ event.description }}</p>
          </p-card>
        </ng-template>
      </p-timeline>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <span>Tabla De Historial</span>
      </ng-template>
      <p-table #dt [columns]="historyHeader" [value]="events1"  responsiveLayout="scroll"
        scrollHeight="80%" [filterDelay]="0" [rows]="1000" styleClass="p-datatable-sm p-datatable-striped"
        [tableStyle]="{ 'table-layout': 'center' }" [scrollable]="true"
        [globalFilterFields]="['vin', 'serviceNumber', 'dealer']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
            <span>
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Buscar" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr styleClass="p-mr-2">
            <th *ngFor="let item of historyHeader">
              {{ item.label }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-history>
          <tr [pSelectableRow]="approved">
            <td>
              <span>{{ history.daler }}</span>
            </td>
            <td>
              <span>{{ history.serviceNumber }}</span>
            </td>
            <td>
              <span>{{ history.description }}</span>
            </td>
            <td>
              <span>{{ history.date }}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td>
              No se encontraron registros.
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <button pButton type="button" (click)="downloadExcel()" label="Descargar Reporte" class="p-button-success"
            icon="pi pi-file-excel" iconPos="left" pTooltip="Descarga reporte"></button>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="isVisibleHistory=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>